.card{
    background: transparent !important;
    box-shadow: 0px 0px 0px 0px rgba(0,0,0,0), 0px 0px 0px 0px rgba(0,0,0,0), 0px 0px 0px 0px rgba(0,0,0,0) !important;
    
}
.card:hover{
    cursor: pointer;
}